.list-top {
  text-align: center;
}

.list-window {
  width: 750px;
  margin: auto;
  max-width: 100%;
}

.list-list {
  outline: none;
  padding: 0;
  list-style: none;
}

.list-list .categories {
  display: inline-block;
  font-size: 90%;
}

.list-content {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 15px 5px;
  transition: .2s all;
}

.list-content:hover {
  color: var(--purple)
}

.content-reading-time {
  font-size: 80%;
  opacity: .8;
}
