.page-top {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.page-title {
  margin-right: 10px;
}

.page-categories li {
  display: inline-block;
}

.page-content {
  width: 750px;
  max-width: 100%;
  margin: 20px auto;
  background: white;
  text-align: justify;
  box-shadow: 5px 5px 20px #ddd;
  padding: 10px 0;
  --x-margin: 30px;
}

.page-content p,
.page-content h2 {
  margin-right: var(--x-margin);
  margin-left: var(--x-margin);
}
.page-tags {
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}

.page-tags li {
  display: inline-block;
}

.page-bottom {
  text-align: center;
  padding: 1px 0;
}

.page-date {
  font-style: italic;
  color: var(--font-mute);
}

/* content */

.hljs {
  padding: 20px calc(var(--x-margin) + 20px);
}

:not(pre) > code {
  background-color: var(--code-bg);
  padding: 2px 5px;
  border-radius: 2px;
  white-space: nowrap;
}
