{{- partial "header.html" . -}}

<div class="list-top">
    <h1>{{ .Title }}</h1>
    <div class="list-description">{{ .Content | emojify }}</div>
</div>

<div class="list-window">
    <ul class="list-list">
        {{ range .Data.Pages.ByDate.Reverse }}
        <li class="list-content">
            <div>
                {{- with .Params.Tags }}
                <ul class="list-content-tags tags">
                    {{- range first 2 .  }}
                    <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
                    {{- end }}
                </ul>
                {{- end }}
                <a class=list-link href="{{ .RelPermalink }}">{{ .Title }}</a>
                <small class="list-content-reading-time"
                    title="{{ .WordCount }} words">(~ {{ .ReadingTime }} min)</small>
            </div>
            <ul class="categories">{{ range .Params.Categories }}
                <li>
                    <a href="{{ "/" | relURL }}categories/{{ . | urlize }}">{{ . }}</a>
                </li>{{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>
</div>

{{- partial "footer.html" . -}}
