{{- partial "header.html" . -}}

<div class="list-top">
    <h1>{{ .Title }}</h1>
    <div class="list-description">{{ .Content }}</div>
</div>

<div class="list-window">
    <ul class="list-list">
        {{ range .Data.Pages.ByDate.Reverse }}
        <li class="list-content">
            <span>
            <a class=list-link href="{{ .Permalink }}">{{ .Title }}</a>
            <small class="list-content-reading-time"
                title="{{ .WordCount }} words">(~ {{ .ReadingTime }} min)</small>
            </span>
            <ul class="categories">{{ range .Params.Categories }}
                <li>
                    <a href="{{ "/" | relURL }}categories/{{ . | urlize }}">{{ . }}</a>
                </li>{{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>
</div>

{{- partial "footer.html" . -}}
