{{- partial "header" . -}}

<div class="page-top">
    <h1 class="page-title">{{ .Title }}</h1>
    {{- with .Params.Categories }}
    <ul class="page-categories categories">
        {{- range . }}
        <li><a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{- end }}
    </ul>
    {{ end }}
    <ul class="page-tags tags">
        {{- range .Params.Tags }}
        <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{- end }}
    </ul>

    {{ if .Params.repository }}
    {{ if eq .Section "project" }}
    <p>
        <code><a href="https://github.com/{{ .Site.Params.github_username }}/{{ .Params.repository }}">
                {{ .Site.Params.github_username }}/{{ .Params.repository }}</a></code>
        <span id="repository-stargazers-count"></span> <span class="repository-star">&#x2605;</span>
    </p>
    {{ end }}
    {{ end }}

</div>

{{- if .IsDraft }}
<p class="page-warning">{{ ":warning:" | emojify }} This post is a draft. {{ ":warning:" | emojify }}</p>
{{ end -}}

<section class="page-content">
    {{- .Content -}}
</section>

<div class="page-bottom">
    <p class="page-date">Published on {{ dateFormat "Monday 2 January 2006" .Date }}</p>
    <ul class="page-share-list">
        <li>
            <a href="{{ print "https://twitter.com/intent/tweet?" ( querify "text" $.Title "url" $.Permalink ) | safeURL }}" target="_blank"
                onclick="window.open(this.href, 'twitter-share', 'width=580,height=300');return false;">
                <img src="/img/twitter.svg" alt="Share on twitter">
            </a>
        </li> 
        <li>
            <a href="{{ print "https://facebook.com/sharer/sharer.php?" ( querify "u" $.Permalink ) | safeURL }}" target="_blank"
                onclick="window.open(this.href, 'facebook-share', 'width=580,height=300');return false;">
                <img src="/img/facebook.svg" alt="Share on facebook">
            </a>
        </li> 
        <li>
            <a href="https://dev.to/new" target="_blank"
                onclick="window.open(this.href, 'devto-share', 'width=580,height=300');return false;">
                <img src="/img/dev.to.svg" alt="Share on dev.to">
            </a>
        </li> 
    </ul>
    {{- if or (.PrevInSection) (.NextInSection) -}}
    <h4>Read an other {{ .Section }}</h4>
    <div class="page-read-other">
        {{ if .PrevInSection }}
        <p>← <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a></p>
        {{ end -}}
        {{- if .NextInSection }}
        <p><a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a> →</p>
        {{- end -}}
    </div>
    {{- end }}
</div>

{{- partial "footer" . -}}
