{{- partial "header" . -}}

<div class="page-top">
    <h1 class="page-title">{{ .Title }}</h1>
    {{ with .Params.Categories }}
    <ul class="page-categories categories">
        {{ range . }}
        <li><a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
    <ul class="page-tags tags">
        {{ range .Params.Tags }}
        <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
    </ul>
</div>

<section class="page-content">
    {{- .Content -}}
</section>

<div class="page-bottom">
    <p class="page-date">Published on {{ dateFormat "Monday 2 January 2006" .Date }}</p>
</div>

{{- partial "footer" . -}}
