<script>
    function gtag_callback() {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-105735012-1');
    }
    (function () {
        if (!document.cookie.includes('InternalTraffic=true') && location.hostname != 'localhost') {
            const script = document.createElement('script')
            script.src = "https://www.googletagmanager.com/gtag/js?id=UA-105735012-1"
            script.onload = gtag_callback
            document.body.appendChild(script)
        }
    })()
</script>