{{- partial "header.html" . -}}

<main class="home-main">

  <section class="home-about">
    {{ with .Site.Params.home.avatar }}
    <img class="home-about-avatar" src="{{ .src }}" alt="{{ .alt }}">
    {{ end }}
    <h2 class="home-about-name">{{ .Site.Params.Home.Name }}</h2>
    <p class="home-about-bio">{{ .Site.Params.Home.Bio }}</p>
  </section>

  <section class="home-links">
    <ul>
      {{ range .Site.Params.Home.links }}
      <li class="home-links-link"><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    <ul>
      {{ range .Site.Sections }}
      <li class="home-links-link"><a href="{{ .RelPermalink }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </section>

  <section class="home-last-entries">

    {{ range .Site.Sections }}
    <article class="home-entry">
      {{ range first 1 ( $.Site.GetPage "section" .Section ).Pages }}
      <h3 class='list-title'><a class=list-link href="{{ .RelPermalink }}">
          {{ .Title }}</a>
        <small class="list-content-reading-time"
               title="{{ .WordCount }} words">(~ {{ .ReadingTime }} min)</small>
      </h3>
      {{- with .Params.Tags }}
      <ul class="list-content-tags tags">
        {{- range .  }}
        <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      <div class="list-summary">{{ .Summary }}</div>
      {{ if .Truncated }}
      <p class="list-readmore">
      <a href="{{ .RelPermalink }}">Keep reading this {{ .Section | singularize | lower }} →</a>
      </p>
      {{ end }}
      {{ end }}
    </article>
    {{ end }}
  </section>

  <section class="home-closing">
    {{ .Site.Params.Home.Closing | markdownify }}
  </section>

</main>

{{- partial "footer.html" . -}}

